@model CRFModels.Models.FormGroupEditModel
@{
    Layout = "~/Views/Shared/_AddEditLayout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".divBackColor").css("height", screen.height -230 +"px");
    });
</script>
<div class="table-bordered titleHeader" style="margin-top:50px;">
    <div>
        <h3>@((string.IsNullOrEmpty(Model.FormGroupId)) ? "Add FormGroup" : "Edit FormGroup")</h3>
    </div>
</div>
<div class="divBackColor">
    <div class="col-md-4 col-md-offset-4 table-bordered" style="background-color:white">
        <div>
            <div class="form-group">
                <h3 class="subTitle">Enter Form Details</h3>
            </div>
            <div class="text-primary">
                @ViewBag.Message
            </div>
            @using (Html.BeginForm())
            {
                @*@Html.HiddenFor(x => x.StudyId);*@
                <div class="form-group">
                    @Html.LabelFor(x => x.FormGroupId)
                    @Html.TextBoxFor(x => x.FormGroupId, new { @class = "form-control" })
                    <div class="text-danger text-right small">
                        @Html.ValidationMessageFor(x => x.FormGroupId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.FormGroupName)
                    @Html.TextBoxFor(x => x.FormGroupName, new { @class = "form-control" })
                    <div class="text-danger text-right small">
                        @Html.ValidationMessageFor(x => x.FormGroupName)
                    </div>
                </div>
                @*<div class="form-group">
                        @Html.LabelFor(x => x.Active)
                        @Html.CheckBoxFor(x => x.Active)
                        <div class="text-danger text-right small">
                            @Html.ValidationMessageFor(x => x.Active)
                        </div>
                    </div>*@

                <div class="text-right">
                    <a href="@Url.Action("List")" class="btn btn-default">Cancel</a>
                    <button class="btn btn-primary" type="submit">@((string.IsNullOrEmpty(Model.FormGroupId)) ? "Save" : "Update")</button>
                </div>
            }
        </div>
        <div class="form-group"></div>
    </div>
</div>
